<div class="modal fade" id="createSubjectModal">
    <div class="modal-dialog">
        <div class="modal-content modal-container">
            <form method="POST" asp-action="Create" asp-controller="Subject">
                <div class="modal-header border-0">
                    <h4 class="modal-title">Crear Asunto</h4>
                </div>
                <div class="modal-body modal-body-inputs">
                    <input type="text" name="subject" placeholder="Asunto" class="form-control input-bordered-white" required>
                </div>
                <div class="modal-footer border-0 modal-conte-buttons">
                    <button type="subject" class="btn btn-light">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>