<div class="modal fade" id="createNotificationModal">
    <div class="modal-dialog">
        <div class="modal-content modal-container">
            <form class="">
                <div class="modal-header border-0">
                    <h4 class="modal-title">Enviar Notificación</h4>
                </div>
                <div class="modal-body modal-body-inputs">
                    <input type="text" id="carTag" placeholder="Asunto" class="form-control input-bordered-white">
                    <textarea type="text" id="carBrand" rows="5" placeholder="Descripción" class="form-control input-bordered-white"></textarea>
                </div>
                <div class="modal-footer border-0 modal-conte-buttons">
                    <button type="button" class="btn btn-light">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>