<div class="modal fade" id="dateModal">
    <div class="modal-dialog">
        <div class="modal-content modal-container">
            <form class="">
                <div class="modal-header border-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Cita 1</h4>
                        </div>
                        <div class="col-sm-12">
                            <h6>01-12-2021</h6>
                        </div>
                        <div class="col-sm-12">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, voluptate.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-body modal-body-inputs">
                    <form action="">
                        <table class="table table-sm table-borderless m-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="custom-select">
                                            <option selected>Arreglo1</option>
                                            <option>Arreglo2</option>
                                            <option>Arreglo3</option>
                                            <option>Arreglo4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Costo" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Extra" class="form-control">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-dark">
                                            <i class="bi bi-send-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <table class="table table-sm text-center table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>ARREGLO</th>
                                <th>COSTO</th>
                                <th>EXTRA</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <i class="bi bi-trash-fill"></i>
                                </td>
                                <td>
                                    <i class="bi bi-pen-fill"></i>
                                </td>
                                <td>Alineación</td>
                                <td>$30.0</td>
                                <td>$20.0</td>
                                <td>$50.0</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="bi bi-trash-fill"></i>
                                </td>
                                <td>
                                    <i class="bi bi-pen-fill"></i>
                                </td>
                                <td>Alineación</td>
                                <td>$30.0</td>
                                <td>$20.0</td>
                                <td>$50.0</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="bi bi-trash-fill"></i>
                                </td>
                                <td>
                                    <i class="bi bi-pen-fill"></i>
                                </td>
                                <td>Alineación</td>
                                <td>$30.0</td>
                                <td>$20.0</td>
                                <td>$50.0</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-right">TOTAL</td>
                                <td>$50.0</td>
                            </tr>
                        </tfoot>
                    </table>
                    
                </div>
                <div class="modal-footer border-0 modal-conte-buttons">
                    <form action="">
                        <button id="btnPay" class="btn btn-light btn-block">ELIMINAR</button>
                    </form>
                    <form action="">
                        <button id="btnPay" class="btn btn-light btn-block">PAGAR</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>