<div class="modal fade" id="updateCarModal">
    <div class="modal-dialog">
        <div class="modal-content modal-container">
            <form class="">
                <div class="modal-header border-0">
                    <h4 class="modal-title">Actualizar Auto</h4>
                </div>
                <div class="modal-body modal-body-inputs">
                    <input type="text" id="carTag" placeholder="Matricula" class="form-control input-bordered-white">
                    <input type="text" id="carBrand" placeholder="Marca" class="form-control input-bordered-white">
                    <input type="text" id="carModel" placeholder="Modelo" class="form-control input-bordered-white">
                    <div class="custom-file mt-2">
                        <input type="file" class="custom-file-input input-bordered-white" id="carPhoto">
                        <label class="custom-file-label input-bordered-white" for="carPhoto">Elegir Foto</label>
                    </div>
                </div>
                <div class="modal-footer border-0 modal-conte-buttons">
                    <button type="button" class="btn btn-light">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>