@{
    ViewData["Title"] = "Sr.  Auto";
}

<div class="row p-3">
    <div class="col-sm-12 col-md-4 col-lg-3 px-3">
        <div class="gradient-gray border-top-radius-lg">
            <img class="img-fluid mx-auto d-block car-photo-profile border-top-radius-lg" src="https://th.bing.com/th/id/OIP.7-JQojJ_W6xAmiZ3eU04NwHaHX?pid=ImgDet&rs=1" alt="">
            <div  class="text-center p-3">
                <p class="m-0 h6">CORREO</p>
                <p class="m-0 mb-2">CORREO</p>
                <p class="m-0 h6">CELULAR</p>
                <p class="m-0 mb-2">CELULAR</p>
                <p class="m-0 h6">DIRECCIÓN</p>
                <p class="m-0">DIRECCIÓN</p>
                <partial name="_UpdateCarModal" />
                <button class="btn btn-neon-yellow btn-block mt-3" data-toggle="modal" data-target="#updateCarModal">ACTUALIZAR</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 gradient-gray p-3">
        <div class="mb-4">
            <div class="row">
                <div class="col-11">
                    <input type="search" placeholder="KS 9412" class="form-control input-bordered-white">
                </div>
                <div class="col-1">
                    <button class="btn btn-light">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--Lista de reparaciones-->
        <div class="row">
        @{for(var i=0; i<15; i++){
            <partial name="_DateModal" />
            <div class="col-sm-12 col-lg-4 mb-3" data-toggle="modal" data-target="#dateModal">
                <div class="card car-card car-card-orange">
                    <div class="row g-0">
                        <div class="col-md-5 p-0 car-card-icon-container">
                            <img class="img-fluid mx-auto d-block car-card-img" src="https://cdn.topgear.es/sites/navi.axelspringer.es/public/styles/480/public/media/image/2018/06/bugatti-chiron-nurburgring_0.jpg?itok=0TUR83J8" alt="">
                        </div>
                        <div class="col-md-7">
                        <div class="card-body">
                            <h3 class="card-title m-0">KS-24-12</h3>
                            <p class="card-text m-0">En progreso</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        }}
        </div>
    </div>
</div>