@{
    ViewData["Title"] = "Sr.  Auto";
    Layout = "_IndexLayout";
}

<div>
    <div class="conte-back">
        <img src="https://papers.co/wallpaper/papers.co-nk71-street-car-japan-night-yellow-40-wallpaper.jpg" alt="">
        <div class="conte-front">
            <div class="conte-login">
                <form method="POST" asp-controller="Home" asp-action="Login">
                    <h1 class="mb-4 text-center">Sr. Auto</h1>
                    <input type="text" id="carTag" placeholder="Correo" class="form-control input-bordered-white mb-2">
                    <input type="text" id="carTag" placeholder="Contraseña" class="form-control input-bordered-white mb-3">
                    <button type="submit" class="btn btn-light">
                        INICIAR
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>