@{
    ViewData["Title"] = "Sr.  Auto";
}

<div class="row p-3 conte-search-bars">
    <div class="circle-icon">
        <i class="bi bi-signpost-split-fill"></i>
    </div>
    <form action="" class="form-search-bars">
        <input type="text" id="carTag" placeholder="Matricula" class="form-control">
        <input type="text" id="carBrand" placeholder="Correo de Usuario" class="form-control">
        <button type="button" class="btn btn-neon-yellow ">
            BUSCAR
        </button>
    </form>

</div>
